/* Display: si está en línea o en bloque. Margin auto para que quede centrado. Width: ancho. Height: alto */

img {
    display : block;
    margin : auto;
    width : 250px;
    height : 200px;
    
}

/* Background-color: color de fondo. Padding: es el espacio entre el contenido del elemento y su borde. Text-align: alineación texto */ 

#box-number {
     background-color : rgba(112, 104, 25, 0.514);
     font-size : 15px;
     width : 40%;
     margin-left : auto;
     margin-right : auto;
     padding : 0px;
     height : 70px;
     border-radius : 5px;
     text-align : center;

}

h1, h2 {
     font-size : 20px;
     text-align : center;

}

#sentence {
     background-color : rgba(184, 149, 108, 0.918);
     font-size : 15px;
     width : 40%;
     margin-left : auto;
     margin-right : auto;
     padding : 0px;
     height : 160px;
     border-radius : 5px;
     text-align : center;

}

/* Margin-top: anchura de su margen superior*/

textarea {
    width : 300px;
    -moz-box-sizing : border-box;
    box-sizing : border-box;
    border : 1px solid #999;
    height : 60px;
    margin-top : 10px;
}
  
#cipher {
     background-color : rgba(233, 206, 85, 0.445);
     font-size :15px;
     width : 40%;
     margin-left : auto;
     margin-right : auto;
     padding : 0px;
     height : 160px;
     border-radius : 5px;
     text-align : center;
}


