/* Display: si está en línea o en bloque. Margin auto para que quede centrado. Width: ancho. Height: alto */

img {
    display : block;
    margin : auto;
    width : 250px;
    height : 200px;
}

/* Background-color: color de fondo. Padding: es el espacio entre el contenido del elemento y su borde. Text-align: alineación texto */
#box-number {
     background-color : rgba(252, 217, 217, 0.445);
     font-size : 15px;
     width : 40%;
     margin-left : auto;
     margin-right : auto;
     padding : 0px;
     height : 15vh;
     border-radius : 5px;
     text-align : center;

}


h1, h2 {
     font-size : 20px;
     text-align : center;

}

#message {
     background-color : rgba(184, 108, 139, 0.445);
     font-size : 15px;
     width : 40%;
     margin-left : auto;
     margin-right : auto;
     padding : 0px;
     height : 25vh;
     border-radius : 5px;
     text-align : center;

}

/* Margin-top: anchura de su margen superior*/

textarea {
    width : 300px;
    -moz-box-sizing : border-box;
    box-sizing : border-box;
    border : 1px solid #999;
    height : 5em;
    margin-top : 10px;
}
  
#cipher {
     background-color : rgba(153, 214, 214, 0.445);
     font-size :15px;
     width : 40%;
     margin-left : auto;
     margin-right : auto;
     padding : 0px;
     height : 25vh;
     border-radius : 5px;
     text-align : center;
}


